<div id="accordion" class="text-dark">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                When will the Vault be released?
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
             The plan is to release the Vault plugin in late Summer / early autumn 2019, but this may change depending on development difficulties and available time.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What platforms will it support?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
             The plan is to support Windows, Linux and Mac. Initially the development is focused on Windows, but wherever possible platform agnostic approaches are used, so support for all platforms will happen. The release may be stagged so Windows support will come first, with linux, and then mac thereafter. 
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               How much will it cost?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              The final pricing strategy has yet to be determined, but it's most likely that there will be a seperate indie, and studio licencing scheme, and it should be affordable for everyone who wishes to utilise it. Indie pricing will be similiar to other tools and marketplace pricing,
              and studio licencing will depend on a few other factors, including service support
            </div>
          </div>
        </div>
      </div>