<nav id="navbar-main" class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#"> The Vault </a>
        <ul class="nav nav-pills smooth-scroll">
            <li class="nav-item">  <a class="nav-link" href="#home"> The Vault </a> </li>
            <li class="nav-item"> <a class="nav-link" href="#packager"> Packager </a> </li>
            <li class="nav-item"> <a class="nav-link" href="#loader"> Loader </a> </li>
            <li class="nav-item"> <a class="nav-link" href="#json"> JSON </a> </li>
            <li class="nav-item"> <a class="nav-link" href="#misc"> Misc </a> </li>
            <li class="nav-item"> <a class="nav-link" href="#faq"> FAQ </a> </li>
        </ul>
    </nav>