<div class="card-deck mb-3 text-center">

    <!-- Card 1 -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal text-dark"> Indie Licence </h4>
        </div>
        <div class="card-body text-dark">
            <h1 class="card-title pricing-card-title"> £TBD </h1>
            <ul class="list-unstyled mt-3 mb-4 ">
                <li> Unreal Engine 4 Plugin </li>
                <li> Full Toolset </li>
                <li> Indivudals Only </li>
            </ul>
            
        </div>
        <div class="card-footer">
            <button type="button" data-toggle="modal" data-target="#indieBuy" class="btn btn-lg btn-block btn-primary"> Buy Now </button>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal text-dark"> Small Teams </h4>
        </div>
        <div class="card-body text-dark">
            <h1 class="card-title pricing-card-title"> £TBD </h1>
            <ul class="list-unstyled mt-3 mb-4 ">
                <li> Unreal Engine 4 Plugin </li>
                <li> Full Toolset </li>
                <li> Any size team with a annual turnover under £100,000 </li>
            </ul>
        </div>
        <div class="card-footer">
            <button type="button" data-toggle="modal" data-target="#teamBuy" class="btn btn-lg btn-block btn-primary"> Buy Now </button>
        </div>
    </div>

        <!-- Card 3 -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal text-dark"> Large Teams </h4>
        </div>
        <div class="card-body text-dark">
            <h1 class="card-title pricing-card-title"> £TBD </h1>
            <ul class="list-unstyled mt-3 mb-4 ">
                <li> Unreal Engine 4 Plugin </li>
                <li> Full Toolset </li>
                <li> Developer Support </li>
            </ul>
            
        </div>
        <div class="card-footer">
            <button type="button" data-toggle="modal" data-target="#studioBuy" class="btn btn-lg btn-block btn-outline-primary"> Request A Quote </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade text-dark" id="indieBuy" tabindex="-1" role="dialog" aria-labelledby="indieBuyTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="indieBuyTitle"> Indie Licence </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p> Indie Licence Information </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
<div class="modal fade text-dark" id="teamBuy" tabindex="-1" role="dialog" aria-labelledby="teamBuyTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="teamBuyTitle"> Team Licence </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p> Team Licence Information </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
<div class="modal fade text-dark" id="studioBuy" tabindex="-1" role="dialog" aria-labelledby="studioBuyTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="studioBuyTitle"> Studio Licence </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p> Studio Licence Information </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>